# Graphics
figures/**/*.png
figures/**/*.jpg
figures/**/*.jpeg
figures/**/*.gif
figures/**/*.svg
figures/**/*.pdf
figures/**/*.eps

# Compiling temperory files
*.aux
*.bbl
*.blg
*.cfg
*.cfs
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ilg
*.ind
*.ist
*.log
*.out
*.sty
*.synctex.gz
*.thm
*.toc
*.toe
/*.eps

# Misc
*.doc

# Output file
main.pdf